In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources\schools_complete.csv")
student_data_to_load = Path("Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
school_count =school_data_complete["school_name"].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count =school_data_complete["Student ID"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget =school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score =school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score =school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count /float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count =school_data_complete[school_data_complete["reading_score"]>=70].count()["student_name"]
passing_reading_percentage =passing_reading_count/float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =pd.DataFrame({
    "Total Schools":[school_count],
    "Total Students":[student_count],
    "Total Budget":[total_budget],
    "Average Math Score":[average_math_score],
    "Average Reading Score":[average_reading_score],
    "% Passing Math":[passing_math_percentage],
    "%Passing Reasing":[passing_reading_percentage],
    "%Overall Passing":[passing_math_reading_count]
                                
                                })

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,%Passing Reasing,%Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,25528

In [11]:
# Group data by school
school_grouped= school_data_complete.groupby("school_name")

# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Total school budget

In [12]:
# Calculate the total student count per school from school_data
per_school_counts = school_grouped["Student ID"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school from school_data

per_school_budget =school_data.set_index("school_name")["budget"]
per_school_budget


per_student_budget =per_school_budget/per_school_counts 
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math =school_grouped["math_score"].mean()
per_school_reading =school_grouped["reading_score"].mean()

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
   # Neb students_passing_math =school_grouped.apply(lambda x: (x['math_score']>=70).mean())
school_students_passing_math =school_grouped.apply(lambda x: (x["math_score"]>=70).mean())
school_students_passing_math

C:\Users\nebia\AppData\Local\Temp\ipykernel_44192\3613623855.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  school_students_passing_math =school_grouped.apply(lambda x: (x["math_score"]>=70).mean())

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
   # Neb students_passing_reading =school_grouped.apply(lambda x: (x['math_score']>=70).mean())
school_students_passing_reading =school_grouped.apply(lambda x: (x["reading_score"]>=70).mean())
school_students_passing_reading

C:\Users\nebia\AppData\Local\Temp\ipykernel_44192\1805234752.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  school_students_passing_reading =school_grouped.apply(lambda x: (x["reading_score"]>=70).mean())

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
Per_school_summary=pd.DataFrame({
    "School Type":school_types,
    "Total Students":per_school_counts,
    "Total School Budget":per_school_budget,
    "Per Student Budget":per_student_budget,
    "Average Math Score":average_math_score,
    "Average Reading Score":average_reading_score,
    "% Passing Math":passing_math_count,
    "% Passing Reading":passing_reading_count,
    "% Overall passing":overall_passing_rate

})
Per_school_summary["Total Students"]= Per_school_summary["Total Students"].map("{:,}".format)

# Formatting
Per_school_summary["Total School Budget"] = Per_school_summary["Total School Budget"].map("${:,.2f}".format)
Per_school_summary["Per Student Budget"] = Per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
Per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,78.985371,81.87784,29370,33610,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,78.985371,81.87784,29370,33610,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,78.985371,81.87784,29370,33610,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,78.985371,81.87784,29370,33610,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,78.985371,81.87784,29370,33610,90.599455
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,78.985371,81.87784,29370,33610,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,29370,33610,89.227166
Huang High School,District,"2,917","$1,910,635.00",$655.00,78.985371,81.87784,29370,33610,53.513884
Johnson High School,District,"4,761","$3,094,650.00",$650.00,78.985371,81.87784,29370,33610,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,29370,33610,90.540541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,78.985371,81.87784,29370,33610,52.988247
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,78.985371,81.87784,29370,33610,89.892107
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,78.985371,81.87784,29370,33610,90.948012
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,78.985371,81.87784,29370,33610,90.582567
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,78.985371,81.87784,29370,33610,90.333333

In [20]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = Per_school_summary.sort_values("% Overall passing",ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,78.985371,81.87784,29370,33610,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,78.985371,81.87784,29370,33610,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,78.985371,81.87784,29370,33610,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,78.985371,81.87784,29370,33610,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,29370,33610,90.540541

In [21]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =Per_school_summary.sort_values("% Overall passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,78.985371,81.87784,29370,33610,52.988247
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,78.985371,81.87784,29370,33610,53.204476
Huang High School,District,"2,917","$1,910,635.00",$655.00,78.985371,81.87784,29370,33610,53.513884
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,78.985371,81.87784,29370,33610,53.527508
Johnson High School,District,"4,761","$3,094,650.00",$650.00,78.985371,81.87784,29370,33610,53.539172

In [22]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores  = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['math_score'].mean()
tenth_grade_math_scores = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()
eleventh_grader_math_scores = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()
twelfth_grader_math_scores = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean().unstack()
print(math_scores_by_grade)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

grade                       10th       11th       12th        9th
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [23]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores =school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name')['reading_score'].mean()
tenth_grader_reading_scores =school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
eleventh_grader_reading_scores =school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
twelfth_grader_reading_scores =school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade=pd.DataFrame({
    "9th": ninth_grader_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [24]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = Per_school_summary.copy()

In [26]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(
    per_student_budget,
    bins=spending_bins,
    labels=["<$585", "$585-630", "$630-645", "$645-680"],
    include_lowest=True
)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,78.985371,81.87784,29370,33610,54.642283,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,78.985371,81.87784,29370,33610,91.334769,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,78.985371,81.87784,29370,33610,53.204476,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,78.985371,81.87784,29370,33610,54.289887,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,78.985371,81.87784,29370,33610,90.599455,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,78.985371,81.87784,29370,33610,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,29370,33610,89.227166,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,78.985371,81.87784,29370,33610,53.513884,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,78.985371,81.87784,29370,33610,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,29370,33610,90.540541,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,78.985371,81.87784,29370,33610,52.988247,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,78.985371,81.87784,29370,33610,89.892107,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,78.985371,81.87784,29370,33610,90.948012,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,78.985371,81.87784,29370,33610,90.582567,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,78.985371,81.87784,29370,33610,90.333333,<$585

In [27]:
#  Calculate averages for the desired columns.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"],observed=True)["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"],observed=True)["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"],observed=True)["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"],observed=True)["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"],observed=True)["% Overall passing"].mean()

In [28]:
# Assemble into DataFrame
spending_summary=pd.DataFrame({"Average Math Score":spending_math_scores,"Average Reading Score":spending_reading_scores,
                               "% Passing Math":spending_passing_math,"% Passing Reading":spending_passing_reading,"% Overall passing":overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing
Spending Ranges (Per Student),,,,,
<$585,78.985371,81.87784,29370.0,33610.0,90.369459
$585-630,78.985371,81.87784,29370.0,33610.0,81.418596
$630-645,78.985371,81.87784,29370.0,33610.0,62.857656
$645-680,78.985371,81.87784,29370.0,33610.0,53.526855

In [29]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [30]:
# Categorize the spending based on the bins

Per_school_summary["Total Students"] = Per_school_summary["Total Students"].replace(',', '',regex=True).astype(int)




# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

Per_school_summary["School Size"] =pd.cut(
    Per_school_summary["Total Students"],
    bins=size_bins,
    labels=size_labels,
    include_lowest=True


)
Per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,78.985371,81.87784,29370,33610,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,78.985371,81.87784,29370,33610,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,78.985371,81.87784,29370,33610,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,78.985371,81.87784,29370,33610,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,78.985371,81.87784,29370,33610,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,78.985371,81.87784,29370,33610,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,78.985371,81.87784,29370,33610,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,78.985371,81.87784,29370,33610,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,78.985371,81.87784,29370,33610,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,78.985371,81.87784,29370,33610,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,78.985371,81.87784,29370,33610,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,78.985371,81.87784,29370,33610,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,78.985371,81.87784,29370,33610,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,78.985371,81.87784,29370,33610,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,78.985371,81.87784,29370,33610,90.333333,Medium (1000-2000)

In [31]:
# Calculate averages for the desired columns.
size_math_scores = Per_school_summary.groupby(["School Size"],observed=True)["Average Math Score"].mean()
size_reading_scores = Per_school_summary.groupby(["School Size"],observed=True)["Average Reading Score"].mean()
size_passing_math = Per_school_summary.groupby(["School Size"],observed=True)["% Passing Math"].mean()
size_passing_reading = Per_school_summary.groupby(["School Size"],observed=True)["% Passing Reading"].mean()
size_overall_passing = Per_school_summary.groupby(["School Size"],observed=True)["% Overall passing"].mean()

In [32]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary  = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Formatting the DataFrame after grouping
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}".format)


# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),78.99,81.88,29370.00,33610.00,89.88
Medium (1000-2000),78.99,81.88,29370.00,33610.00,90.62
Large (2000-5000),78.99,81.88,29370.00,33610.00,58.29

In [33]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type =Per_school_summary .groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type =Per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = Per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = Per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = Per_school_summary.groupby(["School Type"])["% Overall passing"].mean()

In [34]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "% Passing Math": average_percent_passing_math_by_type,
    "% Passing Reading":average_percent_passing_reading_by_type  ,
    "% Overall Passing": average_percent_overall_passing_by_type
})
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}".format)

# Display results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,78.99,81.88,29370.00,33610.00,90.43
District,78.99,81.88,29370.00,33610.00,53.67